.footer {
    background-color: var(--white);
    height: 80px;
    gap: 20px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}

.footer .end-call-btn {
    background-color: rgb(199, 7, 7);
    color: var(--white);
    border-radius: 30px;
    width: 100px;
    height: 50px;
}